target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
/.classpath
/.project
.settings
.DS_Store
.idea/misc.xml
.idea/workspace.xml
src/.DS_Store
src/main/resources/
src/test/.DS_Store
src/test/java/.DS_Store
src/test/java/com/.DS_Store
